Image Maps: Using GeoJSON doesn’t show anything

Taking the map from the [Image Maps: Pixels, bounds, coordinates and making it all work nicely](https://github.com/valentine195/obsidian-leaflet-plugin/discussions/130) discussion, and adding a GeoJSON (using map units) to it seems to do nothing. "Verbose" tells us `Adding GeoJSON to map.` but nothing can be seen.

I used the (pseudo) map coordinates within the GeoJSON. It technically validates but of course cannot display on a real-world map since the coordinates are wrong for that.

```yaml
geojson: [[geo-fangorn.geojson]]
```

Here is the GeoJSON file I tried:

[geo-fangorn.geojson.zip](https://github.com/valentine195/obsidian-leaflet-plugin/files/6690159/geo-fangorn.geojson.zip)

It’s a rather simple shape around Fangorn Forest, using the map’s coordinates (copied using Ctrl+Shift-Click), manually built and corrected for the "right-hand rule".

I wonder if this will never work (because we’re playing outside ±180/±90°) because of an inherint limitation in Leaflet, or if it’s just not implemented here.

Would just be nice to add some routes and areas to gaming maps, using GeoJSON, even if we had to use map-specific pseudo-coordinates.

Hmm... not sure why it wouldn't work.

Didn't have time to do much work on the plugin today. I'll try to take a look tomorrow!

Yep, looks like "something" is there but maybe translated to wrong coords?

![Workspace 1_158](https://user-images.githubusercontent.com/3706922/122847344-ca779b00-d307-11eb-8fbd-3300c02ffbaf.png)

![Workspace 1_159](https://user-images.githubusercontent.com/3706922/122847355-d06d7c00-d307-11eb-8c76-6e492ad02306.png)


No problem, we all sometimes have to do other things. ;-)

It’s complaining at a high level, anyway. And I just pile up my test results so nothing gets forgotten.

It actually looks like two separate issues, based on that screenshot:

1.  The GeoJSON layer seems to be underneath the map layer?
2.  The coordinates are not correct

Yes. Let’s see tomorrow …

>     2\. The coordinates are not correct

Unfortunately, I relied on being able to "copy to clipboard" from the map (Ctrl+Shift+Click). Now since real-world map coordinates are shown (and copied) as lat,lon — which resembles the use of **y,x** —, the coordinates have to be reversed for GeoJSON, because it favours the **lon,lat** format. So much for easily copying ;-)

It still always confuses me having to think Cartesian coordinates in **y,x** sequence (instead of the normal **x,y**), but I guess it can’t be helped. It is _unusual_, but at least _logical_. (Remember the decades-old "lat/lon vs lon/lat" debate? :grin:)

So I’ll provide a new "geo-fangorn" with coordinates reversed. My bad, sorry.


***Note to others:** Strictly speaking, using GeoJSON here is a border case. But it’s just too nice to let it pass unmentioned!*

[RFC 7946 Section 4 "Coordinate Reference System"](https://datatracker.ietf.org/doc/html/rfc7946#section-4) clearly states:

> The coordinate reference system for all GeoJSON coordinates is a
   geographic coordinate reference system, using the World Geodetic
   System 1984 (WGS 84) [WGS84] datum, with longitude and latitude units
   of decimal degrees. […] An OPTIONAL third-position element SHALL
   be the height in meters above or below the WGS 84 reference
   ellipsoid.

But it also states:

> Note: the use of alternative coordinate reference systems was
   specified in [GJ2008], but it has been removed from this version of
   the specification because the use of different coordinate reference
   systems -- especially in the manner specified in [GJ2008] -- has
   proven to have interoperability issues. […] **However, where all
   involved parties have a prior arrangement, alternative coordinate
   reference systems can be used without risk of data being
   misinterpreted.**

So **be aware that** …

- your GeoJSON **won’t be able to display on anything except an image map with the _exact same bounds_**,
- GeoJSON linters _can_ probably lint it, but **will fail to display it correctly** (most use an underlying real-world map for this).

**It can still be great fun exploring and cartographing a game or fantasy map this way!**


Seems to work in 3.19.0.